/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 350px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


/*
 * Krushn Dayshmookh     ------------------------------------------------------------------------------------------
 */


.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.no-text-decoration {
    text-decoration: none;
}

.dark-parallax-img {
    filter: brightness(60%);
}

.profile-pic {
    height: auto;
    width: auto;
    border-radius: 50%;
}




.screen-unit {
	height: 100vh;
	width: 100vw;
	margin: 0px;
}

.no-margin {
	margin: 0;
}




/*
 * Font config
 */

.font-sacramento {
	font-family: 'Sacramento', cursive;
}

.font-merienda {
	font-family: 'Merienda', cursive;
	font-weight: 400;
}
.font-merienda-bold {
	font-family: 'Merienda', cursive;
	font-weight: 700;
}

.font-nunito-extra-light {
    font-family: 'Nunito';
    font-weight: 200;
    font-style: normal;
}

.font-nunito-extra-light-italic {
    font-family: 'Nunito';
    font-weight: 200;
    font-style: italic;
}

.font-nunito-light {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
}

.font-nunito-light-italic {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: italic;
}

.font-nunito-regular {
    font-family: 'Nunito';
    font-weight: 400;
    font-style: normal;
}

.font-nunito-regular-italic {
    font-family: 'Nunito';
    font-weight: 400;
    font-style: italic;
}

.font-nunito-semi-bold {
    font-family: 'Nunito';
    font-weight: 600;
    font-style: normal;
}

.font-nunito-semi-bold-italic {
    font-family: 'Nunito';
    font-weight: 600;
    font-style: italic;
}

.font-nunito-bold {
    font-family: 'Nunito';
    font-weight: 700;
    font-style: normal;
}

.font-nunito-bold-italic {
    font-family: 'Nunito';
    font-weight: 700;
    font-style: italic;
}

.font-nunito-extra-bold {
    font-family: 'Nunito';
    font-weight: 800;
    font-style: normal;
}

.font-nunito-extra-bold-italic {
    font-family: 'Nunito';
    font-weight: 800;
    font-style: italic;
}

.font-nunito-black {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: normal;
}

.font-nunito-black-italic {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: italic;
}




/* end font config */


#panel-back-1 {
	background: url(../images/background1.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#panel-1 {
	background-color: rgba(0,0,0,0.27);
}


.panel-back-animated {
	animation: panel-back-anim;
	animation-duration: 5s;
}

@keyframes panel-back-anim {
	0% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1.0);
	}
}


#loading-text {
	animation: text-blinker 1s alternate infinite;
}

@keyframes text-blinker {
	0% {
		color: grey;
	}
	18% {
		color: grey;
	}
	100% {
		color: black;
	}
}


#panel-back-2 {
	background: url(../images/background2.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#panel-2 {
	background-color: rgba(0,0,0,0.45);
}

.text-shadow {
	text-shadow: 0 1px 3px #000000;
}


#panel-back-3 {
	background: url(../images/background3.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#panel-3 {
	background-color: rgba(0,0,0,0.45);
}

.item-bar {
	background: rgba(0,0,0,0.45);
}

#panel-back-4 {
	background: url(../images/background4.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#panel-4 {
	background-color: rgba(0,0,0,0.54);
}

a[href="mailto:krushndayshmookh@gmail.com"] {
	border: 1px solid white;
	background-color: rgba(0,0,0,0);
	color: white;
}
a[href="mailto:krushndayshmookh@gmail.com"]:hover {
	border: 1px solid white;
	background-color: white;
	color: black;
}

a[href="http://www.facebook.com/krushndayshmookh"] {
	border: 1px solid white;
	background-color: rgba(0,0,0,0);
	color: white;
}
a[href="http://www.facebook.com/krushndayshmookh"]:hover {
	border: 1px solid #3f51b5;
	background-color: #3f51b5;
	color: white;
}
a[href="http://twitter.com/kdayshmookh"] {
	border: 1px solid white;
	background-color: rgba(0,0,0,0);
	color: white;
}
a[href="http://twitter.com/kdayshmookh"]:hover {
	border: 1px solid #1e88e5;
	background-color: #1e88e5;
	color: white;
}
a[href="http://www.instagram.com/krushndayshmookh"] {
	border: 1px solid white;
	background-color: rgba(0,0,0,0);
	color: white;
}
a[href="http://www.instagram.com/krushndayshmookh"]:hover {
	border: 1px solid #ff4081;
	background-color: #ff4081;
	color: white;
}
a[href="http://plus.google.com/+KrushnDayshmookh"] {
	border: 1px solid white;
	background-color: rgba(0,0,0,0);
	color: white;
}
a[href="http://plus.google.com/+KrushnDayshmookh"]:hover {
	border: 1px solid #d50000;
	background-color: #d50000;
	color: white;
}
a[href="https://github.com/krushndayshmookh"] {
	border: 1px solid white;
	background-color: rgba(0,0,0,0);
	color: white;
}
a[href="https://github.com/krushndayshmookh"]:hover {
	border: 1px solid black;
	background-color: black;
	color: white;
}
